---
extends: default
rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  comments-indentation: false
